<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Urban Coffee</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://unpkg.com/flowbite@latest/dist/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>

<body class="bg-gray-100 font-[Inter]">

  <div class="flex h-screen overflow-hidden">
    <aside class="w-64 bg-white border-r flex flex-col">

      <div class="flex items-center gap-3 px-6 py-5 border-b">
        <img src="{{url_for('static',filename='src/imagenes/otros/logo.png')}}" class="h-10 w-10" alt="Logo">
        <span class="text-[21px] font-bold text-gray-800 tracking-tighter">
          Urban Coffee
        </span>
      </div>

      <div class="flex bg-gray-50 items-center gap-3 px-6 py-4 border-b">
        <div class="w-10 h-10 flex items-center justify-center rounded-full bg-blue-500 text-white font-bold">
          {{ (session.get('usuarioNombre', 'AD')[:2]).upper() }}
        </div>
        <div>
          <p class="text-sm font-semibold text-gray-700">
            {{ session.get('usuarioNombre', 'Admin') }}
          </p>
          <p class="text-xs text-gray-400">
            {{ session.get('usuarioRol', 'Operador') }}
          </p>
        </div>
      </div>

      <nav class="flex-1 overflow-y-auto px-4 py-4 text-sm space-y-1">

        <p class="text-xs text-gray-400 font-semibold px-2 mb-2 uppercase">Principal</p>

        {% if session.usuarioRol == "Gerente" %}
        <a href="{{ url_for('dashboard_gerente') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg 
        {% if active_page == 'dashboard' %}
            bg-gray-100 text-gray-900
        {% else %}
            text-gray-600 hover:bg-gray-100
        {% endif %}">
          <i class="fa-solid fa-chart-line w-5"></i>
          <span>Dashboard</span>
        </a>

        <a href="{{ url_for('ventas.ventas') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg 
        {% if active_page == 'ventas' %}
            bg-gray-100 text-gray-900
        {% else %}
            text-gray-600 hover:bg-gray-100
        {% endif %}">
        <i class="fa-solid fa-dollar-sign w-5"></i>
          <span>Ventas</span>
        </a>
        {% endif %}

        <a href="{{ url_for('ventas.venta_fisica') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg 
        {% if active_page == 'POS' %}
            bg-gray-100 text-gray-900
        {% else %}
            text-gray-600 hover:bg-gray-100
        {% endif %}">

          <i class="fa-solid fa-cash-register w-5"></i>
          <span>Punto de Venta</span>
        </a>

        <p class="text-xs text-gray-400 font-semibold px-2 mt-4 mb-2 uppercase">Operación</p>

        <a href="{{ url_for('inventario.materias_primas') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg 
        {% if active_page == 'materias' %}
            bg-gray-100 text-gray-900
        {% else %}
            text-gray-600 hover:bg-gray-100
        {% endif %}">

          <i class="fa-solid fa-boxes-stacked w-5"></i>
          <span>Materias Primas</span>
        </a>

        <a href="{{ url_for('producto.producto_index') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg 
            {% if active_page == 'productos' %}
                bg-gray-100 text-gray-900
            {% else %}
                text-gray-600 hover:bg-gray-100
            {% endif %}">

          <i class="fa-solid fa-mug-hot w-5"></i>
          <span>Productos</span>
        </a>

        <a href="{{ url_for('solicitud.index') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg 
        {% if active_page == 'solicitudes' %}
            bg-gray-100 text-gray-900
        {% else %}
            text-gray-600 hover:bg-gray-100
        {% endif %}">

          <i class="fa-solid fa-file-lines w-5"></i>
          <span>Solicitudes</span>
        </a>

        <a href="{{ url_for('produccion.index') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg 
        {% if active_page == 'produccion' %}
            bg-gray-100 text-gray-900
        {% else %}
            text-gray-600 hover:bg-gray-100
        {% endif %}">

          <i class="fa-solid fa-industry w-5"></i>
          <span>Producción</span>
        </a>

        <a href="{{ url_for('recetas.index') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg 
            {% if active_page == 'recetas' %}
                bg-gray-100 text-gray-900
            {% else %}
                text-gray-600 hover:bg-gray-100
            {% endif %}">

          <i class="fa-solid fa-book-open w-5"></i>
          <span>Recetas</span>
        </a>

        <p class="text-xs text-gray-400 font-semibold px-2 mt-4 mb-2 uppercase">Administración</p>
        
        {% if session.usuarioRol == "Gerente" %}
        <a href="{{ url_for('compras.listar_compras') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg 
        {% if active_page == 'compras' %}
            bg-gray-100 text-gray-900
        {% else %}
            text-gray-600 hover:bg-gray-100
        {% endif %}">

          <i class="fa-solid fa-cart-shopping w-5"></i>
          <span>Compras</span>
        </a>

        <a href="{{ url_for('proveedor.proveedores') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg 
        {% if active_page == 'proveedores' %}
            bg-gray-100 text-gray-900
        {% else %}
            text-gray-600 hover:bg-gray-100
        {% endif %}">

          <i class="fa-solid fa-truck w-5"></i>
          <span>Proveedores</span>
        </a>

        <a href="{{url_for('usuarios.index')}}" class="flex items-center gap-3 px-3 py-2 rounded-lg 
        {% if active_page == 'usuarios' %}
            bg-gray-100 text-gray-900
        {% else %}
            text-gray-600 hover:bg-gray-100
        {% endif %}">

          <i class="fa-solid fa-users w-5"></i>
          <span>Empleados</span>
        </a>

        <a href="{{ url_for('utilidad.index')}}" class="flex items-center gap-3 px-3 py-2 rounded-lg 
        {% if active_page == 'costos_utilidades' %}
            bg-gray-100 text-gray-900
        {% else %}
            text-gray-600 hover:bg-gray-100
        {% endif %}">

          <i class="fa-solid fa-chart-pie w-5"></i>
          <span>Costos y Utilidad</span>
        </a>
        {% endif %}

        {% if session.usuarioRol in ["Admin General (TI)", "Admin General"] %}
        <a href="{{ url_for('dashboard_auditoria') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg 
        {% if active_page == 'dashboard' %}
            bg-gray-100 text-gray-900
        {% else %}
            text-gray-600 hover:bg-gray-100
        {% endif %}">
          <i class="fa-solid fa-shield-halved w-5"></i>
          <span>Auditoría</span>
        </a>
        {% endif %}

        <a href="{{ url_for('merma.merma') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg 
        {% if active_page == 'merma' %}
            bg-gray-100 text-gray-900
        {% else %}
            text-gray-600 hover:bg-gray-100
        {% endif %}">

          <i class="fa-solid fa-trash-can w-5"></i>
          <span>Merma</span>
        </a>

      </nav>

      <div class="px-4 py-4 border-t">
        <a href="{{ url_for('auth.cerrarSesion')}}"
          class="flex items-center gap-3 px-3 py-2 rounded-lg text-red-500 hover:bg-red-50">
          <i class="fa-solid fa-right-from-bracket w-5"></i>
          <span>Cerrar Sesión</span>
        </a>
      </div>

    </aside>

    <main class="flex-1 overflow-y-auto p-6">

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          <div class="space-y-3">
              {% for category, message in messages %}
                  {% if category == 'danger' %}
                      <div class="rounded-lg border border-red-200 bg-red-50 px-4 py-3 text-sm text-red-700">{{ message }}</div>
                  {% elif category == 'success' %}
                      <div class="rounded-lg border border-emerald-200 bg-emerald-50 px-4 py-3 text-sm text-emerald-700">{{ message }}</div>
                  {% else %}
                      <div class="rounded-lg border border-blue-200 bg-blue-50 px-4 py-3 text-sm text-blue-700">{{ message }}</div>
                  {% endif %}
              {% endfor %}
          </div>
      {% endif %}
  {% endwith %}

      {% block container %}
      {% endblock %}
    </main>

  </div>

  <script src="https://unpkg.com/flowbite@latest/dist/flowbite.min.js"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>